<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'About'}); %>

    <main>
        <div class="junbotron">
            <h1>Sobre mim</h1>
            <p>SOu o WIllian Nicoletti e estou aprendendo Node + EJS</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>

</body>
</html>